<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>PetPeers</display-name>
  <welcome-file-list>
    <welcome-file>>/views/jsp/userregn.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainsServlet</servlet-name>
    <servlet-class>com.controller.MainsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainsServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetDetailsServlet</display-name>
    <servlet-name>PetDetailsServlet</servlet-name>
    <servlet-class>com.controller.PetDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetDetailsServlet</servlet-name>
    <url-pattern>/PetDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPetsServlet</display-name>
    <servlet-name>MyPetsServlet</servlet-name>
    <servlet-class>com.controller.MyPetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPetsServlet</servlet-name>
    <url-pattern>/MyPets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyPetServlet</display-name>
    <servlet-name>BuyPetServlet</servlet-name>
    <servlet-class>com.controller.BuyPetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyPetServlet</servlet-name>
    <url-pattern>/BuyPet</url-pattern>
  </servlet-mapping>
</web-app>
